<!-- popup -->
<app-popup
  [icon]="popupIcon"
  [iconColor]="popupIconColor"
  [title]="popupTitle"
  [message]="popupMessage"
  [isVisible]="isPopupVisible"
  (confirm)="handlePopupConfirm()"
  (cancel)="handlePopupCancel()"
  [toastertype]="toasterType"
  [toasterMsg]="toasterMsg"
  [toasterDuration]="toasterDuration"
></app-popup>

<!-- container -->
<div class="flex flex-col gap-5">
  <div class="title flex items-center gap-3">
    <p-iconfield
      [routerLink]="'/basic-info-management/trader-overview'"
      styleClass="pi pi-angle-left  p-2 rounded-sm hover:bg-gray-100 cursor-pointer"
      style="font-size: 18px"
    ></p-iconfield>
    <p class="text-lg font-bold">新增交易對象</p>
  </div>

  <hr class="" />

  <!------------ basic info ------------>
  <div class="title flex justify-between items-center">
    <p class="text-base font-bold">基本資料</p>
  </div>

  <table class="">
    @for (item of infoCols; track $index) {
    <tr>
      <td class="w-[130px] py-1">{{ item }}</td>
      <td class="py-1">
        <input
          pInputText
          type="text"
          class="border focus:outline-primary-400 focus:outline-[1px] rounded px-2 py-1 w-[250px] text-sm"
          [(ngModel)]="infoData[getInfoKey(item)]"
        />
      </td>
    </tr>
    }
  </table>

  <hr class="" />

  <!------------ contact info ------------>
  <div class="title flex justify-between items-center">
    <p class="text-base font-bold">聯絡資料</p>
  </div>

  <table class="">
    @for (item of contactCols; track $index) {
    <tr>
      <td class="w-[130px] py-1">{{ item }}</td>
      <td class="py-1">
        <input
          type="text"
          class="border rounded px-2 py-1 w-[250px] text-sm"
          [(ngModel)]="infoData[getContactKey(item)]"
        />
      </td>
    </tr>
    }
  </table>

  <hr class="" />

  <!--------------- isDefault --------------->
  <div class="flex justify-start items-center gap-x-3">
    <input
      id="isDefault"
      type="checkbox"
      class="border rounded px-2 py-1 w-fit text-sm"
    />
    <label for="isDefault">預設資料</label>
    <p class="text-sm text-gray-400">
      設定為預設資料後，下次新增時會自動帶入本筆交易對象內容
    </p>
  </div>
  <!-- btns -->
  <div class="flex justify-start items-center gap-x-3 mt-5">
    <div (click)="btnCancel()" class="btn-outline w-[200px] h-full">取消</div>
    <div (click)="showPopup()" class="btn w-[200px] h-full">確認新增</div>
  </div>
</div>
