<!-- container -->
<div class="flex flex-col gap-5">
  <p class="text-lg font-bold">基本資料管理</p>
  <hr />
  <div class="title flex justify-between items-center">
    <p class="text-base font-bold">交易對象總覽</p>
    <div class="btn w-[200px] h-full">新增交易對象</div>
  </div>
  <div class="flex flex-col gap-2 w-full">
    <!-- search -->
    <div class="w-full">
      <p class="py-2">搜尋條件</p>

      <div class="grid grid-cols-6 gap-2">
        <!-- trader code -->
        <app-select-option
          [tableData]="traders"
          [placeholder]="'交易對象代碼'"
          [selectedValue]="selcetedTraderCode"
          [valueItem]="'traderCode'"
        ></app-select-option>
        <!-- trader name -->
        <app-select-option
          [tableData]="traders"
          [placeholder]="'交易對象名稱'"
          [selectedValue]="selectedTraderName"
          [valueItem]="'traderName'"
        ></app-select-option>
        <!-- trade no. -->
        <app-input
          [placeholder]="'統編'"
          (inputValue)="getInputValue($event)"
        ></app-input>
        <!-- trader type -->
        <app-select-option
          [tableData]="traders"
          [placeholder]="'交易對象類型'"
          [selectedValue]="selectedTraderType"
          [valueItem]="'traderType'"
        ></app-select-option>
        <!-- trader role -->
        <p-select
          size="small"
          class="w-full h-full"
          [options]="traderRoles"
          [(ngModel)]="selectedTraderRole"
          [filter]="true"
          [showClear]="true"
          placeholder="角色"
        >
          <ng-template #selectedItem let-selectedTraderRole>
            <div class="flex items-center gap-2">
              <div>{{ selectedTraderRole.name }}</div>
            </div>
          </ng-template>
          <ng-template let-selectedTraderName #item>
            <div class="flex items-center gap-2">
              <div>{{ selectedTraderName.name }}</div>
            </div>
          </ng-template>
        </p-select>
      </div>
      <!-- isEnabled -->
      <div class="check w-full flex item-center gap-2 pt-2">
        <input
          id="isEnabled"
          type="checkbox"
          class=""
          [(ngModel)]="isEnabled"
        />
        <label for="isEnabled" class="text-sm">僅查詢已啟用的項目</label>
      </div>
      <!-- btn -->
      @if (isLoading) {
      <div
        style="cursor: default; background-color: #f2f2f2; border: none"
        class="btn-outline w-[230px] bg-gray-2 cursor-default"
        onmouseover="this.style.backgroundColor='#f2f2f2';"
        onmouseout="this.style.backgroundColor='#f2f2f2';"
      >
        <div
          class="mx-auto w-5 h-5 border-2 my-[2px] border-gray-300 border-t-transparent rounded-full animate-spin"
        ></div>
      </div>
      }@else{
      <div class="btn-outline w-[230px]">查詢</div>
      }
    </div>

    <!--------------- TABLE --------------->
    <table class="mt-5">
      <thead>
        <tr align="left" class="border-b">
          @for (item of traderTableColumns; track $index) {
          <th class="pb-3 text-sm">
            <p>{{ item }}</p>
          </th>
          }
        </tr>
      </thead>
      @if (isLoading) {
      <tbody>
        @for (item of [1,2,3,4,5,6,7,8,9,10]; track $index) {
        <tr>
          <td colspan="8" class="py-5">
            <app-skeleton-loader
              [rowHeight]="20"
              [cols]="1"
              [rows]="1"
            ></app-skeleton-loader>
          </td>
        </tr>
        }
      </tbody>
      } @else {
      <tbody>
        @for (item of traderTableData; track $index) {
        <tr class="border-b py-3 table-fixed">
          <td [class]="columnstyle">
            @if (item.enable) {
            <div class="ml-2 rounded-full w-[10px] h-[10px] bg-green-400"></div>
            }@else {
            <div class="ml-2 rounded-full w-[10px] h-[10px] bg-gray-200"></div>

            }
          </td>
          <td [class]="columnstyle">{{ item.code }}</td>
          <td [class]="columnstyle">{{ item.name }}</td>
          <td [class]="columnstyle">{{ item.traderNo }}</td>
          <td [class]="columnstyle">{{ item.traderType }}</td>
          <td [class]="columnstyle">{{ item.traderRole }}</td>
          <td>
            <div class="flex items-center gap-x-2">
              <p-iconfield
                style="font-size: 12px"
                styleClass="pi pi-calendar  cursor-pointer"
              ></p-iconfield>
              <p class="text-sm">{{ item.createdAt }}</p>
            </div>

            <div class="flex items-center gap-x-2">
              <p-iconfield
                style="font-size: 12px"
                styleClass="pi pi-user  cursor-pointer"
              ></p-iconfield>
              <p class="text-sm">{{ item.createdName }}</p>
            </div>
          </td>
          <td>
            <div class="flex items-center gap-x-2">
              <p-iconfield
                style="font-size: 12px"
                styleClass="pi pi-calendar  cursor-pointer"
              ></p-iconfield>
              <p class="text-sm">{{ item.updatedAt }}</p>
            </div>

            <div class="flex items-center gap-x-2">
              <p-iconfield
                style="font-size: 12px"
                styleClass="pi pi-user  cursor-pointer"
              ></p-iconfield>
              <p class="text-sm">{{ item.updatedName }}</p>
            </div>
          </td>
        </tr>

        }
      </tbody>
      }
    </table>
  </div>
</div>
