<!-- container -->
<div class="flex flex-col gap-5">
  <div class="title flex items-center gap-3">
    <p-iconfield
      [routerLink]="'/inbound-management/inbound-list'"
      styleClass="pi pi-angle-left  p-2 rounded-sm hover:bg-gray-100 cursor-pointer"
      style="font-size: 18px"
    ></p-iconfield>
    <p class="text-lg font-bold">入庫單詳情</p>
  </div>

  <!------------ basic info ------------>
  <div class="title flex justify-between items-center">
    <p class="text-base font-bold">供應商基本資料</p>
    <div class="btns absolute right-[100px] gap-5">
      <div
        [routerLink]="'/inbound-management/new-inbound'"
        class="btn-outline w-[200px] h-full"
      >
        修改資料
      </div>
      <div class="btn-outline w-[200px] h-full">列印入庫單</div>
      <div class="btn-outline w-[200px] h-full">入庫完成</div>
    </div>
  </div>
  <div class="flex gap-5">
    <p>商品所屬</p>
    <p>有限公司有限公司</p>
  </div>

  <hr class="" />

  <!--------------- inbound info --------------->
  <div class="title flex justify-between items-center">
    <p class="text-base font-bold">入庫明細</p>
  </div>
  <!-- pagination -->
  <div class="flex justify-end">
    <app-pagination
      [first]="first"
      [rows]="rows"
      [totalRecords]="totalRecords"
      [rowsPerPageOptions]="rowsPerPageOptions"
      (onPageChange)="onPageChange($event)"
    ></app-pagination>
  </div>
  <!-- inbouund list -->
  <table class="">
    <thead>
      <tr align="left" class="border-b">
        @for (item of tableColumns; track $index) {
        <th class="pb-3 text-sm">
          <p>{{ item }}</p>
        </th>
        }
      </tr>
    </thead>
    @if (isLoading) {
    <tbody>
      @for (item of [1,2,3,4,5,6,7,8,9,10]; track $index) {
      <tr>
        <td [attr.colspan]="tableColumns.length" class="py-5">
          <app-skeleton-loader
            [rowHeight]="20"
            [cols]="1"
            [rows]="1"
          ></app-skeleton-loader>
        </td>
      </tr>
      }
    </tbody>
    } @else {
    <tbody>
      @for (item of tableData; track $index) {
      <tr class="border-b py-3 table-fixed">
        <td [class]="columnstyle">
          @if (item.isActive) {
          <div class="ml-2 rounded-full w-[10px] h-[10px] bg-green-400"></div>
          }@else {
          <div class="ml-2 rounded-full w-[10px] h-[10px] bg-gray-200"></div>

          }
        </td>
        <td [class]="columnstyle">{{ item.itemName }}</td>
        <td [class]="columnstyle">{{ item.itemCode }}</td>
        <td [class]="columnstyle">{{ item.description }}</td>
        <td [class]="columnstyle">{{ item.validDays }}</td>
        <td [class]="columnstyle">{{ item.weight }}</td>
        <td [class]="columnstyle">
          {{ item.length + "x" + item.width + "x" + item.height }}
        </td>
        <td [class]="columnstyle">{{ item.baseUom }}</td>
        <td>
          <p-iconfield
            style="font-size: 12px"
            styleClass="pi pi-chevron-right cursor-pointer w-fit hover:bg-gray-100 p-2 rounded-full text-gray-500"
          ></p-iconfield>
        </td>
      </tr>

      }
    </tbody>
    }
  </table>

  <!-- sumup -->
  <div class="title flex justify-between items-center">
    <p class="text-base font-bold">總結資料</p>
  </div>
  <table>
    @for (item of summaryRows; track $index) {
    <tr>
      <td class="w-[80px]">{{ item.label }}</td>
      <td class="flex justify-start items-center gap-3">
        @for (v of item.values; track $index) {
        <p>{{ v }}</p>
        }
      </td>
    </tr>
    }
  </table>
</div>
