<!-- container -->
<div class="flex flex-col gap-5">
  <p class="text-lg font-bold">基本資料管理</p>
  <hr />
  <div class="title flex justify-between items-center">
    <p class="text-base font-bold">商品總覽</p>
    <div class="btn w-[200px] h-full">新增交易對象</div>
  </div>
  <div class="flex flex-col gap-2 w-full">
    <!-- search -->
    <div class="w-full">
      <p class="py-2">搜尋條件</p>

      <div class="grid grid-cols-6 gap-2">
        <!-- product code -->
        <app-select-option
          [tableData]="tableData"
          [placeholder]="'商品料號'"
          [selectedValue]="selcetedItemCode"
          [valueItem]="'itemCode'"
        ></app-select-option>
        <!-- product name -->
        <app-select-option
          [tableData]="tableData"
          [placeholder]="'商品名稱'"
          [selectedValue]="selectedItemName"
          [valueItem]="'itemName'"
        ></app-select-option>
        <!-- trader type -->
        <app-select-option
          [tableData]="tableData"
          [placeholder]="'商品分類'"
          [selectedValue]="selectedCategory"
          [valueItem]="'category'"
        ></app-select-option>
      </div>
      <!-- isActive -->
      <div class="check w-full flex item-center gap-2 pt-2">
        <input id="isActive" type="checkbox" class="" [(ngModel)]="isActive" />
        <label for="isActive" class="text-sm">僅查詢已啟用的項目</label>
      </div>
      <!-- btn -->
      @if (isLoading) {
      <div
        style="cursor: default; background-color: #f2f2f2; border: none"
        class="btn-outline w-[230px] bg-gray-2 cursor-default"
        onmouseover="this.style.backgroundColor='#f2f2f2';"
        onmouseout="this.style.backgroundColor='#f2f2f2';"
      >
        <div
          class="mx-auto w-5 h-5 border-2 my-[2px] border-gray-300 border-t-transparent rounded-full animate-spin"
        ></div>
      </div>
      }@else{
      <div class="btn-outline w-[230px]">查詢</div>
      }
    </div>
    <!-- pagination -->
    <div class="flex justify-end">
      <app-pagination
        [first]="first"
        [rows]="rows"
        [totalRecords]="totalRecords"
        [rowsPerPageOptions]="rowsPerPageOptions"
        (onPageChange)="onPageChange($event)"
      ></app-pagination>
    </div>
    <!--------------- TABLE --------------->
    <table class="mt-5">
      <thead>
        <tr align="left" class="border-b">
          @for (item of tableColumns; track $index) {
          <th class="pb-3 text-sm">
            <p>{{ item }}</p>
          </th>
          }
        </tr>
      </thead>
      @if (isLoading) {
      <tbody>
        @for (item of [1,2,3,4,5,6,7,8,9,10]; track $index) {
        <tr>
          <td [attr.colspan]="tableColumns.length" class="py-5">
            <app-skeleton-loader
              [rowHeight]="20"
              [cols]="1"
              [rows]="1"
            ></app-skeleton-loader>
          </td>
        </tr>
        }
      </tbody>
      } @else {
      <tbody>
        @for (item of tableData; track $index) {
        <tr class="border-b py-3 table-fixed">
          <td [class]="columnstyle">
            @if (item.isActive) {
            <div class="ml-2 rounded-full w-[10px] h-[10px] bg-green-400"></div>
            }@else {
            <div class="ml-2 rounded-full w-[10px] h-[10px] bg-gray-200"></div>

            }
          </td>
          <td [class]="columnstyle">{{ item.itemCode }}</td>
          <td [class]="columnstyle">{{ item.itemName }}</td>
          <td [class]="columnstyle">{{ item.category }}</td>
          <td [class]="columnstyle">{{ item.validDays }}</td>
          <td [class]="columnstyle">
            {{ item.length + "x" + item.width + "x" + item.height }}
          </td>
          <td [class]="columnstyle">{{ item.weight }}</td>
          <td [class]="columnstyle">{{ item.volume }}</td>
          <td>
            <div class="flex items-center gap-x-2">
              <p-iconfield
                style="font-size: 12px"
                styleClass="pi pi-calendar  cursor-pointer"
              ></p-iconfield>
              <p class="text-sm">{{ item.createdAt }}</p>
            </div>

            <div class="flex items-center gap-x-2">
              <p-iconfield
                style="font-size: 12px"
                styleClass="pi pi-user  cursor-pointer"
              ></p-iconfield>
              <p class="text-sm">{{ item.createdByID }}</p>
            </div>
          </td>
          <td>
            <div class="flex items-center gap-x-2">
              <p-iconfield
                style="font-size: 12px"
                styleClass="pi pi-calendar  cursor-pointer"
              ></p-iconfield>
              <p class="text-sm">{{ item.updatedAt }}</p>
            </div>

            <div class="flex items-center gap-x-2">
              <p-iconfield
                style="font-size: 12px"
                styleClass="pi pi-user  cursor-pointer"
              ></p-iconfield>
              <p class="text-sm">{{ item.updatedByID }}</p>
            </div>
          </td>
        </tr>

        }
      </tbody>
      }
    </table>
  </div>
</div>
